.vscode/
.deps/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
tests
Makefile
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
src/primitives/Makefile
src/primitives/CMakeCache.txt
src/primitives/CMakeFiles/*
src/primitives/cmake_install.cmake
buildAndroid/
buildRaspberry/
buildUbuntu/

# gitignore for ScapiLite APK

ScapiLiteAPK/.gradle/*
ScapiLiteAPK/build/
ScapiLiteAPK/app/CMakeFiles
ScapiLiteAPK/app/src/main/cpp/CMakeFiles/
ScapiLiteAPK/app/.externalNativeBuild/*
ScapiLiteAPK/app/app.iml
ScapiLiteAPK/app/biumatrix.jks
ScapiLiteAPK/app/google-services.json
ScapiLiteAPK/app/release/


# Ignore Gradle GUI config
ScapiLiteAPK/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!ScapiLiteAPK/gradle-wrapper.jar

#Project .idea
ScapiLiteAPK/.idea

# Cache of project
ScapiLiteAPK/.gradletasknamecache

Offline/apps/hypermpc/libscapi.a
