.vscode/
.deps/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
tests
Makefile
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
*.so
*.a
buildAndroid/
buildRaspberry/
buildUbuntu/

# gitignore for ScapiLite APK

ScapiLiteAPK/.gradle/
ScapiLiteAPK/build/
ScapiLiteAPK/app/CMakeFiles
ScapiLiteAPK/app/.externalNativeBuild

# Ignore Gradle GUI config
ScapiLiteAPK/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!ScapiLiteAPK/gradle-wrapper.jar

# Cache of project
ScapiLiteAPK/.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties